/build
/build_ext
/dist
/libsakura*
/sakura*
/sparseimaging*
/eigen*
/.vscode
__pycache__
*.egg-info
sis14_twhya_calibrated_flagged.ms.tar
sis14_twhya_calibrated_flagged.ms
twhya_smoothed.ms
twhya_*.fits
HLTau_Band6_CalibratedData
HLTau_Band6_CalibratedData.tgz

