# build directory for cmake 
build/

# external code: libsakura
libsakura/

# external code: sparseimaging
sparseimaging-smili/

# symlink to sparseimaging code
/priism/sparseimaging

# compiled python code
*.pyc
