# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python application

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-13, macos-14]
        python-version: ['3.8', '3.10']
        exclude:
          - os: macos-13
            python-version: '3.10'
          - os: macos-14
            python-version: '3.8'
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v4

    - name: Set up environment variable (macOS)
      if: ${{ startsWith(matrix.os, 'macos-') }}
      run: |
        echo "SDKROOT=$(xcrun --sdk macosx --show-sdk-path)" >> $GITHUB_ENV

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install FFTW3 (Ubuntu)
      if: ${{ matrix.os == 'ubuntu-latest' }}
      run: sudo apt install -y libfftw3-bin libfftw3-dev

    - name: Install FFTW3 and libomp (macOS)
      if: ${{ startsWith(matrix.os, 'macos-') }}
      run: |
        brew install fftw
        brew install libomp
        OMP_INCLUDE_FILE=$(find /usr/local/Cellar/libomp -name omp.h | head -n 1)
        echo "OpenMP Header: $OMP_INCLUDE_FILE"
        ln -s $OMP_INCLUDE_FILE /usr/local/include/
        OMP_LIBRARY=$(find /usr/local/Cellar/libomp -name libomp.dylib | head -n 1)
        echo "OpenMP Library: $OMP_LIBRARY"
        ln -s $OMP_LIBRARY /usr/local/lib

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip wheel
        # to ensure installation order
        pip install casatasks
        pip install -r requirements.txt

    - name: Setup casconfig environment
      run: |
        mkdir -p ~/.casa/data

    - name: Lint with flake8
      run: |
        pip install flake8
        # stop the build if there are Python syntax errors or undefined names
        flake8 python --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 python --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

    - name: Build PRIISM
      run: python3 setup.py build

    - name: Install PRIISM
      run: python3 setup.py install

    - name: Check if libmfista library is created
      run: |
        PRIISM_INSTALL_DIR=$(python3 -c 'import os, sys, priism; print(os.path.dirname(priism.__file__))' | grep -E "^/.*/python3.*/priism")
        ls -l $PRIISM_INSTALL_DIR/core/libmfista_nufft.so

    - name: Test with pytest
      run: |
        pip install pytest
        pytest tests/test_util.py
